@import "tailwindcss";

.modal-backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.btn-pagination {
  @apply px-3 py-0.5  border border-gray-400 cursor-pointer rounded disabled:opacity-50;
}

/* Custom thin scrollbar for Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 116, 139, 0.5) transparent;
}

/* Remove outline and box-shadow for Recharts wrappers and all their children */
.recharts-wrapper,
.recharts-wrapper *,
.recharts-responsive-container,
.recharts-responsive-container * {
  outline: none !important;
  box-shadow: none !important;
}

/* Also prevent them from being focusable */
.recharts-wrapper,
.recharts-responsive-container {
  pointer-events: auto; /* optional */
  user-select: none;
}
